/* form{
  width: 50%;
  margin: 2% ;
  width: 100%;
 
  */


.login{
 border: 2px solid black;
}
.lable_1{
  top: -24px;
    display: flex;
    position: absolute;
    left: 3px;
    color: black;
 
}
.lable_2{
  top: -24px;
  display: flex;
  position: absolute;
  left: 170px;
  color: black;
  
}

.input{
  width: 50%;

 
}
/* .form{
  width: 100%;
  height: auto;


} */
.spanhead{
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: lighter;
}
/* h1{
  display: flex;
  justify-content: center;
  text-align: center;


  
} */
.container{
 
margin-top: 10%;
 
}
.Item{
  
  margin-bottom: 1px !important;
  /* display: flex;
  justify-content: center;
  text-align: center; */
 
}
.Items{
  margin-bottom: 5px !important;
}